body{
    text-align: center;
}

button{
    text-align: center;
    margin-top: 40px;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    font-size: 17px;
}
#box1{
    margin-left: 400px;
    margin-top: 20px;
    height: 300px;
    width: 700px;
    border: 2px solid black;
    padding: 20px;

}